/* CSS declarations go here */
.toSend{
  resize: none;
  height: 70px;
  width: 100%;
}
.msgBox{
  border: 1px solid grey;
  background-color: #ddd;
  padding: 10px;
}
li{
  list-style-type: none;
}
.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1.5em;
  border: none;
  position: relative;
}
